name: Code Security Scan (Gitleaks + CodeQL)

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches-ignore:
      - main

permissions:
  contents: read
  security-events: write

jobs:
  security:
    name: CodeQL + Gitleaks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # --- CodeQL ---
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: javascript, typescript

      - name: Autobuild
        uses: github/codeql-action/autobuild@v3

      - name: Analyze CodeQL
        uses: github/codeql-action/analyze@v3

      # --- Gitleaks ---
      # - name: Run Gitleaks
      #   uses: gitleaks/gitleaks-action@v2
      #   with:
      #     args: detect --source . --redact
