name: SAST & SCA Security Scan

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches-ignore:
      - main

jobs:
  sast:
    name: SAST - Semgrep
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Semgrep (SAST)
        uses: returntocorp/semgrep-action@v1
        with:
          config: p/owasp-top-ten

  sca:
    name: SCA - Trivy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Trivy (Dependencies)
        uses: aquasecurity/trivy-action@v0
        with:
          scan-type: fs
          severity: HIGH,CRITICAL
          exit-code: 1
